<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gerenciador de OS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body class="login-body">
    <nav class="main-menu">
        <a href="{{ url_for('home') }}"><img src="https://placehold.co/100x60/9acd32/ffffff?text=LOGO" alt="logo-sme" class="image-logo"></a>
        <ul class="nav-list">
            <li><a href="{{ url_for('register') }}" class="link-nav">Registrar Admin</a></li>
        </ul>
    </nav>

    <div class="login-container">
        <h1>Login</h1>
        
        <!-- Mensagens Flash (sucesso, erro, info) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="/login" method="post">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Entrar</button>
        </form>
    </div>

    <script>
        // JavaScript para o menu mobile (hambúrguer)
        const mobileMenu = document.querySelector('.mobile-menu');
        const navList = document.querySelector('.nav-list');
        const navLinks = document.querySelectorAll('.nav-list li');

        mobileMenu.addEventListener('click', () => {
            navList.classList.toggle('active');
            mobileMenu.classList.toggle('active'); // Adiciona/remove a classe 'active' ao ícone do hambúrguer

            navLinks.forEach((link, index) => {
                if (link.style.animation) {
                    link.style.animation = '';
                } else {
                    link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
                }
            });
        });
    </script>
</body>
</html>
